@page "/ContactUs"

<h1>Contact Us</h1>

<div class="jumbotron" style="width:60%;margin:50px auto;word-break:break-all">
    <p>
        <span style="color: black">
            <h3> Phone : 08 8234 6369</h3>
</span>
    </p><div>
    </div>
</div>

<div class="jumbotron" style="width:60%;margin:50px auto;word-break:break-all">
    <p>
        <span style="color: black">
            <h3>
                Postal Address : PO Box 219,
                Brooklyn Park,
                South Australia 5032.
                </h3>
</span>
    </p><div>
    </div>
</div>

<div class="jumbotron" style="width:60%;margin:50px auto;word-break:break-all">
    <p>
        <span style="color: black">
            <h3>
                Address :27 Valetta Road,
                Kidman Park,
                South Australia 5025.
                </h3>
</span>
    </p><div>
    </div>
</div>

@code { }
