@page "/"
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SA Injury Management System</title>
        <link rel="stylesheet" href="../wwwroot/css/bootstrap/bootstrap.min.css" />
        <link href="../wwwroot/css/site.css" rel="stylesheet" />
    </head>
    <body>
        <div style="width: 100%;height: 100%;padding: 20px;box-sizing: border-box;">
            <header>
                <div class="jumbotron">
                    <h1 class="display-4" style="font-size: 43px">Hello,Welcome to Sports Injury Management System!</h1>
                    <p class="lead">
                        Our website aim at providing all information related to sports injuries. You can get sports advice, sports injury
                        detection, rehabilitation advice and preventive measures.The "Sports Injury Management System (SIMS)" website helps users like sporting associations,sporting clubs and recreational facility providers to identify the incidence and other characteristics of a specific injury and to assess how much an injury contributes to the overall burden of disease in the community. This helps researchers to create, implement, and promote public health interventions based on evidence to lessen the societal cost of sports and physical activity injuries.
                    </p>
                    <p class="lead">
                        You may use the links on the left side of this page to report an injury or to generate a report.
                    </p><!-- <hr class="my-4"> -->
                    <!-- <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> -->
                    <!-- <a class="btn btn-primary btn-lg" href="#" role="button">查看更多</a> -->
                </div>
            </header>
            <hr />
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="images/run.png" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
            <hr />
            <footer>
                <p class="lead">
                    <h1>Guidance</h1>


                    <div class="jumbotron"><p><strong>1.Maintain flexibility.</strong><span style="color: black;"> </span></p><p><span style="color: black;"> </span></p><p><span style="color: black;">It is extremely important that you do dynamic stretches before starting your activity. Cold muscles are more prone to injury, so, while it may be tempting to start playing immediately, you should take a few minutes to do some jumping jacks, butt kicks, or arm circles first.</span></p><p><span style="color: black;"> </span></p><p><strong>2.Strengthen your core. </strong></p><p><span style="color: black;"> </span></p><p><span style="color: black;">A strong core improves your balance and stability, which is crucial in all sports and can help you avoid injury. Exercises that strengthen the core include abdominal <br /> crunches and planks.</span></p><p><span style="color: black;"> </span></p><p><span style="color: black;">(1) </span><strong>Abdominal crunches</strong><span style="color: black;"> involve lying on your back and putting your feet on a wall so that your knees and hips make a 90-degree angle with your legs. Then, raise <br />your head and shoulders off the floor, and hold that position for a few seconds.</span></p><p><span style="color: black;"> </span></p><p><span style="color: black;">(2) </span><strong>A plank</strong><span style="color: black;"> entails holding your body in a push-up position, with your weight on your forearms and toes.</span></p><p><span style="color: black;"> </span></p><p><strong>3.Use proper technique. </strong></p><p><span style="color: black;"> </span></p><p><span style="color: black;">Knowing how to play your sport correctly is essential to playing well and to protecting yourself from injury. An instructor can help you learn how. It helps to:</span></p><p><span style="color: black;"> </span></p><p><span style="color: black;">(1) Balance your body weight without over-extending your arms, legs, or your back.</span></p><p><span style="color: black;"> </span></p><p><span style="color: black;">(2) Use proper footwork to help you avoid injuries to the ankle and the Achilles tendon.</span></p><p><span style="color: black;"> </span></p><p><span style="color: black;">(3) Play with the proper equipment for your size and ability.</span></p><p><span style="color: black;"> </span></p><p><strong>4.Take time to rest. </strong></p><p><span style="color: black;"> </span></p><p><span style="color: black;">Playing any sport for too long without a break will cause your muscles to be overused, which increases the chances of your being injured.</span></p><p><span style="color: black;"> </span></p><p><strong>5.Ensure proper healing of a previous injury. </strong></p><p><span style="color: black;"> </span></p><p><span style="color: black;">To avoid reinjuring yourself, check with your doctor to make sure that your injury has recovered fully, and you are clear to resume playing. </span></p><p><br></p></div>
                </p>
            </footer>
        </div>
        </body>
    </html>
        @code {

        }
